.bw-page{
  width: 800px;
  margin: 0px auto;
}

.bw-header{
  font-weight: 500;
  font-size: 22px;
  margin: 20px 0px 5px 5px;
  color: rgba(0,0,0,.87);
}

.bw-card{
  margin: 10px;
}

.bw-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bw-flex-grow{
  flex-grow: 1;
}

.bw-button{
  margin-left: 5px;
  flex-shrink: 0;
}

.bw-friend{
  height: 36px;
  padding: 5px;
  border-radius: 5px;
}

.bw-friend:hover {
  background-color: #e6e6e6;
}

.bw-delete{
  display: none;
}

.bw-friend:hover .bw-delete{
  display: block;
}

.bw-dropdown-anchor{
  position: relative;
}

.bw-search-dropdown{
  display: none;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 31px;
  left: -1px;
  background-color: white;
  border: solid 1px #37a49f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bw-search-dropdown a{
  display: block;
  padding: 5px;
  border-bottom: solid 1px #37a49f;
}

.bw-search-dropdown a:last-child{
  border-bottom: none;
}

.bw-search-dropdown a:hover{
  cursor: pointer;
  background-color: #4ab5b0;
}

.bw-search-input:focus + .bw-search-dropdown, .bw-search-dropdown:hover{
  display: block;
}
