<div class="game-card">
  <mat-card *ngIf="everythingOK">
    <mat-card-title id="questiontext">{{questionText}}</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-raised-button id="0" (click)="score(0)"
                  [style.background-color]="clicked && correctAnswer==0 ? 'yellowgreen' : '#6bc5c2'"
                  [style.background-color]="clicked && showWrong==0 ? '#a4373b' : '#6bc5c2'">
            {{answers[0]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button id="1" (click)="score(1)"
                  [style.background-color]="clicked && correctAnswer==1 ? 'yellowgreen' : '#6bc5c2'"
                  [style.background-color]="clicked && showWrong==1 ? '#a4373b' : '#6bc5c2'">
            {{answers[1]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button id="2" (click)="score(2)"
                  [style.background-color]="clicked && correctAnswer==2 ? 'yellowgreen' : '#6bc5c2'"
                  [style.background-color]="clicked && showWrong==2 ? '#a4373b' : '#6bc5c2'">
            {{answers[2]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button id="3" (click)="score(3)"
                  [style.background-color]="clicked && correctAnswer==3 ? 'yellowgreen' : '#6bc5c2'"
                  [style.background-color]="clicked && showWrong==3 ? '#a4373b' : '#6bc5c2'">
            {{answers[3]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-subtitle *ngIf="clicked"
                       [style.color]="clickedCorrect==true ? 'yellowgreen' : '#a4373b'">
      You guessed&nbsp;<b>{{clickedCorrect == true ? " correct" : " wrong"}}</b>!
    </mat-card-subtitle>

    <button mat-raised-button color="primary" *ngIf="clicked" (click)="continue()">
      {{questionCount > 0 ? "Next Question" : "Finish"}}</button>

  </mat-card>
  <mat-card *ngIf="!everythingOK">
    <mat-card-title>Sorry, an Error appeared!</mat-card-title>
  </mat-card>
</div>




