<div class ="game-card">
    <mat-card>
        <mat-card-title>
            Besserwisser
        </mat-card-title>
        <mat-card-content>
            <label id="questiontext">{{questiontext}}</label>
            <mat-radio-group class="game-radio-group" [(ngModel)]="answerUser">
                <mat-radio-button class="game-radio-button" *ngFor="let answer of answers" [value] = "answer">
                    {{answer}}
                </mat-radio-button>
            </mat-radio-group>          
        </mat-card-content>
        <div>Your answer: {{answerUser}}</div>
        <div>Correct answer: {{correctAnswer}}</div>

        <mat-divider></mat-divider>

<div class="container">
 <button mat-flat-button color="primary"(click)="score()" id="btn">
    Finish!
 </button>
 <button mat-flat-button disabled id="nextbtn">
     Next!
 </button>
</div>

    </mat-card>
</div>




