
<mat-toolbar color="primary">
  <div id="left">
    <img class="logoImg" routerLink="/startpage" src="../assets/logo.png">
    <span style="color: white"> Besserwisser</span>
  </div>
  <div id="right">
    <button *ngIf="!userService.loggedIn" mat-flat-button color="primary" routerLink="/login">Login/Register</button>
    <button *ngIf="userService.loggedIn" mat-flat-button color="primary" routerLink="/dashboard">Dashboard</button>
    <button *ngIf="userService.loggedIn" mat-flat-button color="primary" routerLink="/friends">Friends</button>
    <button *ngIf="userService.loggedIn" mat-flat-button color="primary" routerLink="/profile">Profile</button>
    <button *ngIf="userService.loggedIn" mat-flat-button color="primary" routerLink="/admin">Admin</button>
    <button *ngIf="userService.loggedIn" mat-flat-button color="primary" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
