
<mat-toolbar color="primary">
  <div>
    <button class="left" mat-icon-button routerLink="/startpage">
      <img class="logoImg" src="../assets/logo.png"></button>&nbsp;
    <span class="left" style="color: white"> Besserwisser</span>
  </div>
  <div>
    <button *ngIf="!loggedIn" mat-flat-button color="primary" routerLink="/login">Login/Register</button>
    <button *ngIf="loggedIn" mat-flat-button color="primary" routerLink="/profile">Profile</button>
  </div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
