<div class="profile-card">
<mat-card>
    <mat-card-title>
        Username
    </mat-card-title>
    <mat-card-content>
        <p>Current Username</p>
        <mat-form-field appearance="fill" >
            <mat-label>New Username</mat-label>
            <input #username type="text" matInput>  
        </mat-form-field>
        <div class="profile-button">
        <button mat-raised-button color="primary" (click) = "updateUsername(username.value)" >Change Username</button>
        </div>
    </mat-card-content>
</mat-card>
</div>

<div class="profile-card">
<mat-card>
    <mat-card-title>
        Password
    </mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input #password [formControl]="p" [type]="hide ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria.label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="p.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input #confirmPassword [type]="hideconfirm ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hideconfirm = !hideconfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideconfirm">
            <mat-icon>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint *ngIf="!confirm(password.value, confirmPassword.value)">Passwords do not match</mat-hint>
        </mat-form-field>
        <div class ="errMsg">{{errMsg}}</div>
        <div class="profile-button">
            <button mat-raised-button color="primary" (click) = "updatePassword(password.value, confirmPassword.value)">Change Password</button>
        </div>
    </mat-card-content>
</mat-card>
</div>

<div class="profile-card">
    <mat-card>
        <mat-card-title>
            Delete UserInfo
        </mat-card-title>
        <mat-card-content>
            <!---<mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input #deletePassword [type]="hidedelete ? 'password' : 'text'" matInput>
                <button mat-icon-button matSuffix (click)="hidedelete = !hidedelete" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidedelete">
                    <mat-icon>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>-->
            <div class="profile-button">
                <button mat-raised-button color="primary" (click) = "deleteUserInfo()">Delete User</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>


