<div class="profile-card">
<mat-card>
    <mat-card-title>
        Username
    </mat-card-title>
    <mat-card-content>
        <p>Neuen Username eingeben</p>
        <mat-form-field appearance="fill" >
            <mat-label>Neuer Username</mat-label>
            <input #username type="text" matInput>  
        </mat-form-field>
        <div class="profile-button">
        <button mat-raised-button color="primary" (click) = "updateUsername(username.value)" >Username ändern</button>
        </div>
    </mat-card-content>
</mat-card>
</div>

<div class="profile-card">
<mat-card>
    <mat-card-title>
        Passwort
    </mat-card-title>
    <mat-card-content>
        <p>Neues Password eingeben</p>
        <mat-form-field appearance="fill">
        <mat-label>Neues Passwort</mat-label>
        <input #password [formControl]="p" [type]="hide ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria.label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="p.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
        <mat-label>Passwort bestätigen</mat-label>
        <input #confirmPassword [type]="hideconfirm ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hideconfirm = !hideconfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideconfirm">
            <mat-icon>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint *ngIf="!confirm(password.value, confirmPassword.value)">Keine Übereinstimmung</mat-hint>
        </mat-form-field>
        <div class ="errMsg">{{errMsg}}</div>
        <div class="profile-button">
            <button mat-raised-button color="primary" (click) = "updatePassword(password.value, confirmPassword.value)">Passwort ändern</button>
        </div>
    </mat-card-content>
</mat-card>
</div>

<div class="profile-card">
    <mat-card>
        <mat-card-title>
            Nutzer löschen
        </mat-card-title>
        <mat-card-content>
            <p></p>
            <div class="profile-button">
                <button mat-raised-button color="primary" (click) = "deleteUserInfo()">Nutzer löschen</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

