.profile-card{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.profile-button{
    display: flex;
}
.errMsg{
    display: flex;
    justify-content: center;
}
mat-card{
    
    min-width: 250px;
}