

<div class="page">

  <div class="top-menu">
    <div class="top-menu-logo">LOGO PLACEHOLDER</div>
    <div class="top-menu-item-wrapper">
      <a routerLink="/howtoplay" class="top-menu-item link">Spielanleitung</a>
      <a routerLink="/tournaments" class="top-menu-item link">Turniere</a>
    </div>
    <div class="top-menu-growable"></div>
    <!---  logged in-->
    <div class="top-menu-right-wrapper" *ngIf="user">
      <div class="top-menu-user-name">{{user.name}}</div>
      <div class="top-menu-avatar"></div>
    </div>
      <!---  not logged in-->
    <div class="top-menu-right-wrapper" *ngIf="!user">
      <a routerLink="/login" class="top-menu-item link">Login</a>
      <span class="top-menu-spacer"></span>
      <a routerLink="/signup" class="top-menu-item link">Registrieren</a>
    </div>
  </div>
  <div class="top-menu-user" *ngIf="user">
    <div class="top-menu-growable"></div>
    <a class="top-menu-user-item link">Dashboard</a>
    <a class="top-menu-user-item link">Freunde</a>
    <a class="top-menu-user-item link">Profil</a>
    <a class="top-menu-user-item link">Logout</a>
  </div>

  <div class="content-area" *ngIf="user">

    <!---  TODO -->
    <div class="content-header">Neues Spiel</div>
    <div class="game-new-wrapper">
      <div class="game-line-wrapper">
        <a class="new-game-start" (click)="createNewGame()">Spiel erstellen</a>
        <div class="new-player-input-wrapper">
          <input #playerSearch class="new-player-input" (input)="searchForUsersByName(playerSearch.value)" />
          <div class="new-game-player-input-dropdown">
            <a *ngFor="let user of searchedUsers$ | async" (click)="addUserToNewGameById(user.id)">{{user.name}}</a>
          </div>
        </div>
        <a class="new-player-add" (click)="addUserToNewGameByName(playerSearch.value)">+</a>
        <a class="new-player" *ngFor="let user of selectedUsers" (click)="removeUserFromNewGame(user.id)">{{user.name}}</a>
      </div>
      <div class="highlight">Spieleinstellungen</div>
      <div class="new-options">
        PLACEHOLDER -> z.B. bestimmte Kategorien sperren, spezifische auswählen, Fragenanzahl festlegen etc..
      </div>
    </div>

    <div *ngIf="invites.length > 0">
      <div class="content-header">Spieleinladungen</div>
      <div *ngFor="let invite of invites">
        <div *ngIf="user.id == invite.userId">
          <div>
            Neue Spieleinladung:<br> Spieler:{{invite.names.toString()}}<br>Kategorie: {{invite.categories[invite.categories.length-1]}}
          </div>
          <button (click)="acceptInvite(invite.id)">Annehmen</button><button (click)="declineInvite(invite.id)">Ablehnen</button>
        </div>
      </div>
    </div>

    <div class="content-header">Spiele, in denen du am Zug bist<a class="refresh link" (click)="updateGames()">Aktualisieren</a></div>

    <div class="game-wrapper" *ngFor="let game of games">
      <div *ngIf="game.currentPlayerId === user.id && game.status == 1">
        <a  routerLink="" class="game-continue-modal no-select">WEITERSPIELEN</a>
        <div class="game-information-wrapper">
          <div class="game-category">Laufende Kategorie: <span class="highlight">{{game.categories[game.categories.length-1]}}</span></div>
          <div class="game-point-header">Punktestand:</div>
          <div class="game-point-wrapper" *ngFor="let player of game.players">
            <div class="game-player">{{player.user.name}}</div>
            <div class="game-points">
              <div class="game-point" *ngFor="let answer of player.answers" [class.correct]="answer > 0" [class.wrong]="answer < 0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-header">Spiele, in denen jemand anders am Zug ist</div>

    <div class="game-wrapper" *ngFor="let game of games">
      <div *ngIf="game.currentPlayerId !== user.id && game.status == 1">
        <div class="game-information-wrapper">
          <div class="game-category">Laufende Kategorie: <span class="highlight">{{game.categories[game.categories.length-1]}}</span></div>
          <div class="game-point-header">Punktestand:</div>
          <div class="game-point-wrapper" *ngFor="let player of game.players">
            <div class="game-player">{{player.user.name}}</div>
            <div class="game-points">
              <div class="game-point" *ngFor="let answer of player.answers" [class.correct]="answer > 0" [class.wrong]="answer < 0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="content-area" *ngIf="!user">
    Whoops. Something went wrong. <a routerLink="/home">Back to home.</a>
  </div>

</div>
