

<div class="bw-page">

  <div *ngIf="user">

    <!---  TODO -->
    <div class="bw-header">Spiel erstellen</div>
    <mat-divider></mat-divider>
    <mat-card class="bw-card bw-flex-row-stretch bw-new-game">
      <div class="bw-flex-column bw-flex-grow">
        <div class="bw-flex-row">
          <mat-form-field class="bw-flex-grow bw-dropdown-anchor">
            <mat-label>Spieler</mat-label>
            <input #playerSearch class="bw-search-input" (input)="searchForUsersByName(playerSearch.value)" matInput />
            <div class="bw-search-dropdown">
              <a *ngFor="let user of searchedUsers$ | async" (click)="addUserToNewGameById(user.id)">{{user.name}}</a>
            </div>
          </mat-form-field>
          <a mat-raised-button color="primary" class="bw-add-player" (click)="addUserToNewGameByName(playerSearch.value)">Hinzufügen</a>
        </div>
        <div class="bw-flex-row bw-flex-grow">
          <a class="bw-player" *ngFor="let user of selectedUsers" (click)="removeUserFromNewGame(user.id)">{{user.name}}</a>
        </div>
        <a mat-raised-button color="primary" class="new-game-start" (click)="createNewGame()">Spiel erstellen</a>
      </div>
      <div class="bw-divider-vertical"></div>
      <div class="bw-flex-column">
        Kategorieauswahl:
        <div *ngFor="let cat of categories">
          <mat-checkbox color="primary" (change)="toggleCategorySelection(cat.id)">{{cat.name}}</mat-checkbox>
        </div>
      </div>
    </mat-card>

    <div *ngIf="invites && invites.length > 0">
      <div class="bw-header">Spieleinladungen</div>
      <mat-divider></mat-divider>
      <div *ngFor="let invite of invites">
        <mat-card class="bw-card bw-flex-row" *ngIf="user.id == invite.userId">
          <span class="bw-flex-grow">
            <div class="bw-invite-header">Neue Spieleinladung:</div>
            <div class="bw-invite-subheader">Spieler: {{invite.names.toString()}}</div>
            <div class="bw-invite-subheader">Kategorien: {{invite.categories[invite.categories.length-1]}}</div>
          </span>
          <a mat-raised-button color="primary" class="bw-button" (click)="acceptInvite(invite.id)">Annehmen</a>
          <a mat-raised-button color="secondary" class="bw-button" (click)="declineInvite(invite.id)">Ablehnen</a>
        </mat-card>
      </div>
    </div>

    <div class="bw-header">Spiele, in denen du am Zug bist<a class="refresh link" style="display:none;" (click)="updateGames();updateInvites();">Aktualisieren</a></div>
    <mat-divider></mat-divider>

    <div *ngFor="let game of games">
      <mat-card  class="bw-card bw-card-maxwidth" *ngIf="game.currentPlayerId === user.id && game.status == 1">
        <mat-card-title>Spieler</mat-card-title>
        <mat-card-content><span *ngFor="let user of game.users">{{user.name}} </span></mat-card-content>
        <mat-card-title>Kategorien:</mat-card-title>
        <mat-card-content><span *ngFor="let cat of game.categories">{{cat}} </span></mat-card-content>
        <mat-card-actions class="section-buttons">
          <a mat-raised-button color="primary" routerLink="/game" routerLinkActive="active">Weiterspielen</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="bw-header">Spiele, in denen jemand anders am Zug ist</div>
    <mat-divider></mat-divider>

    <div *ngFor="let game of games">
      <mat-card  class="bw-card bw-card-maxwidth" *ngIf="game.currentPlayerId !== user.id && game.status == 1">
        <mat-card-title>Spieler</mat-card-title>
        <mat-card-content><span *ngFor="let user of game.users">{{user.name}} </span></mat-card-content>
        <mat-card-title>Kategorien:</mat-card-title>
        <mat-card-content><span *ngFor="let cat of game.categories">{{cat}} </span></mat-card-content>
      </mat-card>
    </div>

    <div class="bw-header">Akzeptierte und erstellte Spiele</div>
    <mat-divider></mat-divider>

    <div *ngFor="let game of games">
      <mat-card  class="bw-card bw-card-maxwidth" *ngIf="game.status == 0">
        <mat-card-title>Spieler</mat-card-title>
        <mat-card-content><span *ngFor="let user of game.users">{{user.name}} </span></mat-card-content>
        <mat-card-title>Kategorien:</mat-card-title>
        <mat-card-content><span *ngFor="let cat of game.categories">{{cat}} </span></mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="!user" class="bw-error">
    Whoops. Something went wrong. <a routerLink="/">Back to home.</a>
  </div>

</div>
