.bw-page{
  width: 800px;
  margin: 0px auto;
}

.bw-error{
  text-align: center;
  margin-top: 40px;
}

.bw-header{
  font-weight: 500;
  font-size: 22px;
  margin: 20px 0px 5px 5px;
  color: rgba(0,0,0,.87);
}

.bw-card{
  margin: 10px;
}

.bw-button{
  margin-left: 5px;
  flex-shrink: 0;
}

.bw-card-maxwidth{
  max-width: 450px;
}

.bw-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bw-flex-row-stretch{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.bw-flex-column{
  display: flex;
  flex-direction: column;
}

.bw-flex-grow{
  flex-grow: 1;
}

.bw-divider-vertical{
  box-sizing: border-box;
  width: 1px;
  background-color: #ccc;
  margin: 0px 10px;
}

.bw-new-game {
  height: 150px;
}

.bw-invite-header{
  font-weight: 500;
  font-size: 18px;
}

.bw-invite-subheader{
  font-weight: 400;
  font-size: 16px;
  margin: 2px 0px;
}


/*----*/

.bw-add-player{
  margin-left: 10px;
}

.bw-search-dropdown{
  display: none;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 31px;
  left: -1px;
  background-color: white;
  border: solid 1px #37a49f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bw-search-dropdown a{
  display: block;
  padding: 5px;
  border-bottom: solid 1px #37a49f;
}

.bw-search-dropdown a:last-child{
  border-bottom: none;
}

.bw-search-dropdown a:hover{
  cursor: pointer;
  background-color: #4ab5b0;
}

.bw-search-input:focus + .bw-search-dropdown, .bw-search-dropdown:hover{
  display: block;
}

.bw-player{
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #f5f5f5;
  border: solid 1px #ccc;
  margin-right: 10px;
}

.bw-player:hover{
  background-color: #ce0026;
  cursor: pointer;
  color: white;
}
